<p-toolbar [style]="{'background-color': '#000'}" >
  <div class="p-toolbar-group-start">
    <!-- <img src="assets/edacy-white.png" class="w-34" alt=""> -->
    <h2 class="text-white font-bold">EDACY</h2>
  </div>
  <div class="p-toolbar-group-center">
            <!-- <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
        </span> -->
  </div>
  <div class="p-toolbar-group-end ">
    <p-button class="mx-4" [routerLink]="['/home']" icon="pi pi-home" [style]="{'color' :'#FFF' , 'background-color':'#FFBF00'  }"/>
    <p-button [routerLink]="['/dashboard']" icon="pi pi-chart-bar" [style]="{'color':'#FFF' , 'background-color':'#FFBF00'  }" />
  </div>
</p-toolbar>
<div class="container mx-auto p-4 sm:p-6">
  <router-outlet></router-outlet>
</div>
