<h2 class="text-3xl font-bold mb-6 text-gray-700">Nos Produits</h2>

<!-- Product list using a Tailwind CSS grid -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <div *ngFor="let Product of products$ | async" >
    <p-card [header]="Product.name">
      <ng-template pTemplate="header">
        <img [src]="Product.imageUrl"  [alt]="Product.imageUrl" class="w-full h-48 object-cover">
      </ng-template>
      <p>
      {{Product.price | currency:'eur'}}
      </p>
      <p class="text-gray-600">
          {{ Product.description }}
      </p>
      <ng-template pTemplate="footer">
        <p-button label="View Details"
                  icon="pi pi-search"
                  styleClass="w-full"
                  >
        </p-button>
      </ng-template>
    </p-card>
  </div>
</div>
